*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    background: whitesmoke;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}
input{
    width: 100%;
    margin-top: 0.2rem;
    padding: 10px;
}

input:last-child{
    margin-top: 1rem;
    background: crimson;
    color: white;
    outline: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.name-err, .email-err, .phone-err, .password-err, .confirm-err{
    width: 100%;
    color: crimson;
    font-size: 10px;
    font-style: italic;
    padding: 5px 0;
}